.custom-checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-size: 1.6rem;
}

.checkbox-input {
  width: 0; /* hack to hide element */
  opacity: 0;
}

.checkbox-box {
  width: 3.5rem;
  height: 3.5rem;
  border: 1px solid var(--light-grey);
  border-radius: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1.5rem;
  flex-shrink: 0;
  transition: all var(--transition-base-ms);
}

.checkobox-svg {
  fill: none;
  stroke: transparent;
  stroke-width: 30;
  transition: all var(--transition-base-ms);
}

.checkbox-input:checked + .checkbox-box {
  border-color: var(--primary-color);
}

.checkbox-input:focus + .checkbox-box {
  border-color: var(--primary-color);
}

.checkbox-input:hover + .checkbox-box {
  border-color: var(--primary-color);
}

.checkbox-input:checked + .checkbox-box > svg {
  stroke: var(--primary-color);
}
