/* 
VARIABLES
*/

:root {
  /* COLORS */
  --black: black;
  --white: white;

  --light-grey: #dfdfdf;

  --primary-text-color: #585757;
  --secondary-text-color: #9f9f9f;

  --primary-color: #cd8b65;
  --primary-color-dark: hsl(22, 51%, 42%); /* from figma: #bb6b3d */
  --primay-color-light: #f3e2d9;

  --error-color: rgb(225, 14, 14);
  --success-color: rgb(41, 163, 51);

  /* SHADOWS */
  --box-shadow-1: 0px 15px 20px 5px rgba(0, 0, 0, 0.15);
  --box-shadow-2: 0px 5px 20px 5px rgba(0, 0, 0, 0.1);
  --box-shadow-3: 0px 3px 7px -3px rgba(0, 0, 0, 0.15);

  /* TRANSITION TIME */
  --transition-base-ms: 200ms;
  --transition-long-ms: 500ms;
}

/* BREAKPOINTS
breakpoint-mobile: 320px;
breakpoint-tablet: 481px;
breakpoint-laptop: 769px;
breakpoint-desktop: 1025px;
breakpoint-extra-large: 1201px;
*/

/* 
RESETS AND BASIC SETTINGS
*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 481px) {
  html {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  color: var(--primary-text-color);
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: none;
}

button {
  cursor: pointer;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* 
INPUTS
*/

.input-section-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.2rem;
}

.input-section-title {
  font-size: 1.6rem;
  color: var(--black);
  font-weight: 800;
}

.input-section-additional-text {
  font-size: 1.4rem;
  font-weight: 800;
}

select.input:disabled {
  cursor: not-allowed;
}

/* 
ROW BUTTONS
*/

.row-buttons-container {
  display: flex;
  flex-wrap: wrap;

  --buttons-padding: 0.2rem;
  margin-left: calc(-1 * var(--buttons-padding));
  margin-right: calc(-1 * var(--buttons-padding));
}

.row-button {
  flex-grow: 1;
  height: 5rem;
  font-size: 1.6rem;
  margin: var(--buttons-padding);
  border: 1px solid var(--light-grey);
  background-color: transparent;
  color: var(--black);
  padding: 1rem;
  border-radius: 0.8rem;
  font-weight: 800;
  transition: all var(--transition-base-ms);
  position: relative;
}

.row-button.row-button-active {
  color: var(--white);
  background-color: var(--primary-color);
}

.row-button.row-button-error {
  border-color: var(--error-color);
}

.row-button:hover {
  border-color: var(--primary-color);
}

.row-button:focus {
  border-color: var(--primary-color);
  outline: none;
}

.row-button.row-button-active:focus {
  border-color: var(--primary-color-dark);
  outline: none;
}

.row-input-button-wrapper {
  position: relative;
}

.row-input-button {
  display: flex;
  align-items: center;
  width: 8.5rem;
  max-width: 20rem;
}

.row-input-button-input {
  border: none;
  border-bottom: 1px solid var(--light-grey);
  background-color: transparent;
  max-width: 85%;
  font-weight: 800;
  margin-right: 4px;
  margin-top: 2px;
  text-align: center;
}

/* Chrome, Safari, Edge, Opera */
.row-input-button-input::-webkit-outer-spin-button,
.row-input-button-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.row-input-button-input[type="number"] {
  -moz-appearance: textfield;
}

.row-input-button-input:focus {
  /* outline: 1px solid var(--white); */
  outline: none;
  border: 1px solid var(--white);
  border-radius: 0.4rem;
}

.row-input-button-error {
  font-size: 1.4rem;
  position: absolute;
  bottom: 0rem;
  right: 0;
  top: 120%;
  width: 50rem;
  text-align: right;
  transition: all var(--transition-long-ms);
  color: transparent;
}

.row-input-button-error-active {
  color: var(--error-color);
}

/* INPUTS */

.input-wrapper {
  position: relative;
  height: 7rem;
  border-radius: 0.8rem;

  --input-x-padding: 2.5rem;
}

.input-label {
  color: var(--black);
  font-size: 1.6rem;
  font-weight: 800;

  position: absolute;
  left: 0;
  right: 0;
  top: 15px;
  margin-left: 1px;
  padding-left: var(--input-x-padding);
}

.input-select-label {
  color: var(--black);
  font-size: 1.6rem;
  font-weight: 800;

  position: absolute;
  z-index: 5;
  left: 24px;
  top: 15px;
}

.input {
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  padding-left: var(--input-x-padding);
  padding-top: 2.4rem;
  border: 1px solid var(--light-grey);
  border-radius: 0.8rem;
  transition: border-color var(--transition-base-ms);
}

.input-error {
  border-color: var(--error-color);
}

.input:focus {
  border-color: var(--primary-color);
  outline: none;
}

.input-error-message {
  color: var(--error-color);
  font-size: 1.6rem;
  padding-left: 2.4rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  height: 0px;
  transition: all var(--transition-base-ms);

  /* border: 1px solid #000; */
}

.input-error-message-active {
  height: 1.8rem;
}

.input.input-phone {
  padding-left: 9.4rem;
}

.country-select-wrapper {
  position: absolute;
  bottom: 0.5rem;
  height: 3rem;
  left: 2rem;
}

.country-select-wrapper img {
  width: 2.5rem;
}
/* NOTES:
For some reason on mobile the country select is lower than needed 
and does not align with number input text. Also in Firefox it behaves 
differently and value needs to be different.
  */
@media only screen and (max-width: 481px) {
  .country-select-wrapper {
    bottom: 0.4rem;
  }

  .country-select-wrapper img {
    width: 2rem;
  }
}

@-moz-document url-prefix() and @media only screen and (max-width: 481px) {
  .country-select-wrapper {
    bottom: 0.3rem;
  }
}
