/* 
VARIABLES
*/

:root {
  /* COLORS */
  --black: black;
  --white: white;

  --light-grey: #dfdfdf;

  --primary-text-color: #585757;
  --secondary-text-color: #9f9f9f;

  --primary-color: #cd8b65;
  --primary-color-dark: hsl(22, 51%, 42%); /* from figma: #bb6b3d */
  --primay-color-light: #f3e2d9;

  --error-color: rgb(225, 14, 14);
  --success-color: rgb(41, 163, 51);

  /* SHADOWS */
  --box-shadow-1: 0px 15px 20px 5px rgba(0, 0, 0, 0.15);
  --box-shadow-2: 0px 5px 20px 5px rgba(0, 0, 0, 0.1);
  --box-shadow-3: 0px 3px 7px -3px rgba(0, 0, 0, 0.15);

  /* TRANSITION TIME */
  --transition-base-ms: 200ms;
  --transition-long-ms: 500ms;
}

/* BREAKPOINTS
breakpoint-mobile: 320px;
breakpoint-tablet: 481px;
breakpoint-laptop: 769px;
breakpoint-desktop: 1025px;
breakpoint-extra-large: 1201px;
*/

/* 
RESETS AND BASIC SETTINGS
*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 481px) {
  html {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  font-family: sans-serif;
  /* font-weight: 400; */
  color: var(--primary-text-color);
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: none;
}

button {
  cursor: pointer;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* 
HELPERS
*/

.d-hidden {
  display: none;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

/* 
MAIN
*/

.container {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  transition: width var(--transition-base-ms);
  padding-top: 13rem;
}

@media only screen and (max-width: 769px) {
  .container {
    width: 95%;
  }
}

.row {
  display: flex;
  justify-content: space-between;
}

.column:first-child {
  flex-grow: 1;
  padding-right: 3rem;
}

@media only screen and (max-width: 1025px) {
  .column:first-child {
    padding-right: 0rem;
  }

  .column:last-child {
    display: none;
  }
}

.main-heading {
  font-size: 4.6rem;
  margin-bottom: 3.25rem;
  color: var(--black);
}

/* 
/* DOUBLE BUTTON 
*/

.double-button-container {
  display: flex;
  height: 18.5rem;
  margin-bottom: 6rem;
  --double-button-border-radius: 2.5rem;
  border-radius: var(--double-button-border-radius);
}

.double-button {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-size: 1.6rem;
  padding: 2.5rem;
  text-align: left;
  font-weight: 600;

  transition: all var(--transition-base-ms);
}

.double-button.active {
  color: var(--white);
  background-image: linear-gradient(to bottom right, var(--primary-color), var(--primary-color-dark));
  box-shadow: var(--box-shadow-1);
  z-index: 5;
}

.double-button:hover {
  transform: scale(1.015);
  box-shadow: var(--box-shadow-1);
  z-index: 10;
}

.double-button:focus {
  outline: 1px solid var(--primary-color-dark);
  z-index: 15;
}

.double-button:first-child {
  border-top-left-radius: var(--double-button-border-radius);
  border-bottom-left-radius: var(--double-button-border-radius);
}

.double-button:last-child {
  border-top-right-radius: var(--double-button-border-radius);
  border-bottom-right-radius: var(--double-button-border-radius);
}

.double-button-icon {
  color: var(--secondary-text-color);
}

.double-button.active .double-button-icon {
  color: var(--white);
}

/* 
INPUTS
*/

.input-section-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.2rem;
}

.input-section-title {
  font-size: 1.6rem;
  color: var(--black);
  font-weight: bold;
  /* font-weight: 800; */
}

.input-section-additional-text {
  font-size: 1.4rem;
  font-weight: bold;
  /* font-weight: 800; */
}

select.input:disabled {
  cursor: not-allowed;
}

/* 
ROW BUTTONS
*/

.row-buttons-container {
  display: flex;
  flex-wrap: wrap;

  --buttons-padding: 0.2rem;
  margin-left: calc(-1 * var(--buttons-padding));
  margin-right: calc(-1 * var(--buttons-padding));
}

.row-button {
  flex-grow: 1;
  height: 5rem;
  font-size: 1.6rem;
  margin: var(--buttons-padding);
  border: 1px solid var(--light-grey);
  background-color: transparent;
  color: var(--black);
  padding: 1rem;
  border-radius: 0.8rem;
  font-weight: bold;
  /* font-weight: 800; */
  transition: all 200ms;
  position: relative;
}

.row-button.row-button-active {
  color: var(--white);
  background-color: var(--primary-color);
}

.row-button.row-button-error {
  border-color: var(--error-color);
}

.row-button:hover {
  transform: scale(1.02);
  box-shadow: var(--box-shadow-3);
}

.row-button:focus {
  outline: 1px solid var(--primary-color);
  border-color: var(--primary-color);
}

.row-input-button {
  display: flex;
  align-items: center;
  width: 8.5rem;
  max-width: 20rem;
}

.row-input-button-input {
  border: none;
  border-bottom: 1px solid var(--light-grey);
  background-color: transparent;
  max-width: 85%;
  font-weight: bold;
  /* font-weight: 800; */
  margin-right: 4px;
  margin-top: 2px;
  text-align: center;
}

.row-input-button-input:focus {
  outline: 1px solid var(--white);
}

.row-input-button-error {
  display: block;
  font-size: 1.4rem;
  position: absolute;
  bottom: -2.5rem;
  right: 0;
  top: 120%;
  width: 50rem;
  text-align: right;
  transition: all var(--transition-long-ms);
  color: transparent;
}

.row-input-button-error-active {
  color: var(--error-color);
}

/* 
ACTION BUTTONS
*/

.action-buttons-container {
  display: flex;
  margin-top: 8rem;
}

.action-button {
  height: 6rem;
  padding: 2rem 2.5rem;
  border-radius: 1000px;
  font-size: 1.4rem;
  font-weight: bold;
  box-shadow: var(--box-shadow-2);
  transition: all var(--transition-base-ms);
}

.action-button:hover {
  transform: scale(1.02);
  box-shadow: var(--box-shadow-3);
}

.action-button:focus {
  outline: 1px solid var(--primary-color);
  border-color: var(--primary-color);
}

.action-button-next {
  background-color: var(--primary-color);
  color: var(--white);
}

.action-button-next:disabled {
  background-color: var(--secondary-text-color);
  transform: none;
  cursor: not-allowed;
}

.action-button-back {
  background-color: var(--primay-color-light);
}

/* 
DIVIDER
*/

.divider {
  width: 100%;
  height: 1px;
  border-top: 1px solid var(--light-grey);
  margin-top: 5rem;
  margin-bottom: 5rem;
}

/* 
FOOTER
*/

.footer {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.6rem;
  margin-bottom: 10rem;
}

.footer-column {
  width: 25%;
  padding: 3rem;
}

@media only screen and (min-width: 1025px) {
  .footer-column:first-child {
    padding-left: 0;
  }

  .footer-column:last-child {
    padding-right: 0;
  }
}

@media only screen and (max-width: 1025px) {
  .footer-column {
    width: 50%;
  }
}

@media only screen and (max-width: 769px) {
  .footer-column {
    width: 100%;
    padding: 1.5rem;
  }
}

.footer-column-title {
  font-size: 1.6rem;
  margin-bottom: 2.5rem;
}

.footer-column-content {
  color: var(--secondary-text-color);
}

.footer-link {
  margin-bottom: 0.8rem;
}

.logo-images {
  display: flex;
}

.logo-image-1 {
  width: 5rem;
  height: 5rem;
}

.logo-image-2 {
  width: 15rem;
  height: 3.5rem;
}

/* 
PAGES
*/

.step {
  display: none;
}

.step.step-active {
  display: block;
}

/* INPUTS */

.input-wrapper {
  margin-bottom: 1.6rem;
  position: relative;
  height: 7rem;
  border-radius: 0.8rem;

  --input-x-padding: 2.5rem;
}

.input-label {
  color: var(--black);
  font-size: 1.6rem;
  font-weight: bold;
  /* font-weight: 800; */

  position: absolute;
  left: 0;
  right: 0;
  top: 15px;
  margin-left: 1px;
  padding-left: var(--input-x-padding);
}

.input {
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  padding-left: var(--input-x-padding);
  padding-top: 2.4rem;
  border: 1px solid var(--light-grey);
  border-radius: 0.8rem;
}

.input-error {
  border-color: var(--error-color);
}

.input:focus {
  outline: 1px solid var(--primary-color);
}

.input-error-message {
  color: var(--error-color);
  font-size: 1.6rem;
  padding-left: 2.4rem;
  margin-top: -0.8rem;
  margin-bottom: 1rem;
  height: 0px;
  transition: all var(--transition-base-ms);
}

.input-error-message-active {
  height: 1.8rem;
}

.input.input-phone {
  padding-left: 9.5rem;
}

.country-select-wrapper {
  position: absolute;
  bottom: 0.9rem;
  left: 2.2rem;
  height: 3rem;
  width: 6.8rem;
}

/* NOTES:
For some reason on mobile the country select is lower than needed 
and does not align with number input text. Also in Firefox it behaves 
differently and value needs to be different.
  */
@media only screen and (max-width: 481px) {
  .country-select-wrapper {
    bottom: 1rem;
  }
}

@-moz-document url-prefix() and @media only screen and (max-width: 481px) {
  .country-select-wrapper {
    bottom: 0.3rem;
  }
}

/* 
SUMMARY
*/

.summary-row {
  margin-bottom: 2.2rem;
}

.summary-heading {
  color: var(--black);
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
}

.summary-text {
  font-size: 1.6rem;
}

/* 
CONSENT CHECKBOX
*/

.consent-container {
  margin-top: 4.5rem;
}

.consent-label {
  font-size: 1.6rem;
  margin-left: 1.6rem;
}

/* 
SUBMISSION 
*/

.submission-result {
  font-size: 1.6rem;
  margin-bottom: 3.25rem;
}

.submission-result-error {
  color: var(--error-color);
}

.submission-result-success {
  color: var(--success-color);
}

/* 
LOADER
*/

.loader-container {
  display: grid;
  place-items: center;
  height: 30rem;
}

.loader {
  border: 12px solid #f3f3f3;
  border-radius: 50%;
  border-top: 12px solid var(--primary-color);
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
