/* 
VARIABLES
*/

:root {
  /* COLORS */
  --black: black;
  --white: white;

  --light-grey: #dfdfdf;

  --primary-text-color: #585757;
  --secondary-text-color: #9f9f9f;

  --primary-color: #cd8b65;
  --primary-color-dark: hsl(22, 51%, 42%); /* from figma: #bb6b3d */
  --primay-color-light: #f3e2d9;

  --error-color: rgb(225, 14, 14);
  --success-color: rgb(41, 163, 51);

  /* SHADOWS */
  --box-shadow-1: 0px 15px 20px 5px rgba(0, 0, 0, 0.15);
  --box-shadow-2: 0px 5px 20px 5px rgba(0, 0, 0, 0.1);
  --box-shadow-3: 0px 3px 7px -3px rgba(0, 0, 0, 0.15);

  /* TRANSITION TIME */
  --transition-base-ms: 200ms;
  --transition-long-ms: 500ms;
}

/* 
BREAKPOINTS

breakpoint-mobile: 320px;
breakpoint-tablet: 481px;
breakpoint-laptop: 769px;
breakpoint-desktop: 1025px;
breakpoint-extra-large: 1201px;
*/

/* 
RESETS AND BASIC SETTINGS
*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 481px) {
  html {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  color: var(--primary-text-color);
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: none;
}

button {
  cursor: pointer;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* 
select.input:disabled {
  cursor: not-allowed;
} */
